app/assets/javascripts/lib.js~
app/assets/stylesheets/main.css.scss~
log/development.log
tmp/
db/seeds.rb~
app/assets/stylesheets/bootstrap.css~
app/models/user.rb~
app/views/devise/sessions/new.html.erb~

