<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Julien Pellet Photography</title>
	<meta http-equiv="Charset" content="application/xhtml+xml; charset=UTF-8" />
	<meta name="keywords" content="Julien Pellet,Pellet Julien,wellington,new zealand,galerie, gallery, photo, art, photographer, photography, portfolio, book, macro, nature, abstract" />
	<meta name="description" content= "Julien Pellet, photographer in Wellington - New Zealand, display his work on New Zealand lanscapes and Wellington urban photography">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
